<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-header></app-header>
<div class="container-fluid">
<div class="col-md-3">
  <div class="panel">
    <div class="panel-heading panel-dark">Databases Connection &nbsp; <i class="fa fa-database"></i></div>
    <div class="panel-body">
      <button type="button" class="btn btn-default" (click)="openModal('modalsource')">Connect source <i class="fa fa-arrow-right"></i></button>
     <br /><br />
      <button type="button" class="btn btn-default" id="margins" (click)="openModal('modalcible')">Connect target <i class="fa fa-arrow-right"></i></button>

    </div>
  </div>

</div>
<div class="col-md-9">
<div  class="admin-panel">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fa fa-table"></i>
             </div>
      <mat-card-title>Source Tables</mat-card-title>
      <mat-card-subtitle>View Source DataBase</mat-card-subtitle>
    </mat-card-header>
    <div class="bottom-button">
    </div>

    <mat-card-content>

      <mat-tab-group class="mat-group" >
    <ng-container *ngFor="let t of tablessources$">
     
        <mat-tab class="mat-tab" label="{{t.nomTable}}">
          <table mat-table [dataSource]="t.colonnes">
    
            <ng-container matColumnDef="nomcolonne">
                  <th mat-header-cell *matHeaderCellDef> Column Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.nomcolonne}} </td>
                </ng-container>
                <ng-container matColumnDef="typecolonne">
                    <th mat-header-cell *matHeaderCellDef> Column Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.typecolonne}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="RelationnelDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: RelationnelDisplayedColumns;"></tr>

          </table>
        </mat-tab>
      </ng-container>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
  
</div>
<div  class="admin-panel">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="fa fa-table"></i>
             </div>
      <mat-card-title>Target Tables</mat-card-title>
      <mat-card-subtitle>View Target DataBase</mat-card-subtitle>
    </mat-card-header>
    <div class="bottom-button">

    </div>
    <mat-card-content>

      <mat-tab-group  >
    <ng-container *ngFor="let t of tablescibles$">
        <mat-tab class="mat-tab" label="{{t.nomTable}}">
           
            <table mat-table [dataSource]="t.colonnesfamille">
    
                   <ng-container matColumnDef="nomcolonneFamily">
                      <th mat-header-cell *matHeaderCellDef> Family Column Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.nomcolonneFamily}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nomcolonne">
                        <th mat-header-cell *matHeaderCellDef> Column Name </th>
                        <td mat-cell *matCellDef="let element"> 
                        <mat-list>
                          <ng-container *ngFor="let c of element.columns" > 
                              <mat-list-item>{{c.nomcolonne}}</mat-list-item>

                        </ng-container>  
                      </mat-list>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="HbaseDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: HbaseDisplayedColumns;"></tr>
    
              </table>

        

                </mat-tab>
                 
        
      </ng-container>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
</div>


<ngx-smart-modal #itemModal1 identifier="modalsource">
  <span *ngIf="tablessources$;else loading"></span>
  <form method="get" class="form-horizontal" role="form" #ff="ngForm" (ngSubmit)="onConnectSource(ff)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Connection Parameters</h4>
    </div>

    <div class="modal-body">

      <mat-form-field>
        <input matInput placeholder="Ip" name="ip" ngModel required #ip="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Port" name="port" ngModel required #port="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="DataBase Name" name="nomBD" ngModel required #nomBD="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="User" name="user" ngModel required #user="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" name="password" ngModel required #password="ngModel">
      </mat-form-field>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default"  (click)="closeModal('modalsource')">Decline</button>
      <button type="submit" class="btn btn-success">Connect</button>
      <p id="alert" style="color: #ff0000;">{{alert}}</p>
      <p id="alert2" style="color: 	#228B22;">{{alert2}}</p>

    </div>

  </form>
</ngx-smart-modal>

<ng-template #loading>
  Loading...
</ng-template>

<ngx-smart-modal #itemModal2 identifier="modalcible">
  <form method="get" class="form-horizontal" role="form" #f="ngForm" (ngSubmit)="onConnectCible(f)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Connection Parameters</h4>
    </div>

    <div class="modal-body">
      <mat-form-field>
        <input matInput placeholder="Master" name="master" ngModel required #master="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zookeeper quorum" name="quorum" ngModel required #quorum="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zookeeper Client Port" name="port" ngModel required #port="ngModel">
      </mat-form-field>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default"  (click)="closeModal('modalcible')">Decline</button>
      <button type="submit" class="btn btn-success">Connect</button>

      <p id="alert3" style="color: #ff0000;">{{alert3}}</p>
      <p id="alert4" style="color: 	#228B22;">{{alert4}}</p>

    </div>

  </form>
</ngx-smart-modal>
</div>
<app-footer class="footer"></app-footer>
