<app-header></app-header>

<div  class="admin-panel">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons"> view_list </i> 
             </div>
      <mat-card-title>Les Tables Sources</mat-card-title>
      <mat-card-subtitle>Gestion de la Base sources</mat-card-subtitle>
    </mat-card-header>
    <div class="bottom-button">
      <button title="Modifier" mat-flat-button class="button"  (click)="openModal('modalsource')">
        Connecter Source<i class="material-icons">add</i>
      </button>
    </div>

    <mat-card-content>

      <mat-tab-group class="mat-group" >
    <ng-container *ngFor="let t of tablessources$">
        <mat-tab class="mat-tab" label="{{t.nomTable}}">
          <table mat-table [dataSource]="t.colonnes">
    
            <ng-container matColumnDef="nomcolonne">
                  <th mat-header-cell *matHeaderCellDef> Nom Colonne </th>
                  <td mat-cell *matCellDef="let element"> {{element.nomcolonne}} </td>
                </ng-container>
                <ng-container matColumnDef="typecolonne">
                    <th mat-header-cell *matHeaderCellDef> Type Colonne </th>
                    <td mat-cell *matCellDef="let element"> {{element.typecolonne}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="RelationnelDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: RelationnelDisplayedColumns;"></tr>

          </table>
        </mat-tab>
      </ng-container>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
  
</div>
<div  class="admin-panel">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          view_list </i> 
             </div>
      <mat-card-title>Les Tables Cibles</mat-card-title>
      <mat-card-subtitle>Gestion de la base Cible</mat-card-subtitle>
    </mat-card-header>
    <div class="bottom-button">
      <button title="Modifier" mat-flat-button class="button" (click)="openModal('modalcible')">
        Connecter Cible<i class="material-icons">add</i>
      </button>
    </div>
    <mat-card-content>

      <mat-tab-group  >
    <ng-container *ngFor="let t of tablescibles$">
        <mat-tab class="mat-tab" label="{{t.nomTable}}">
            <table mat-table [dataSource]="t.colonnesfamille">
    
                   <ng-container matColumnDef="nomcolonneFamily">
                      <th mat-header-cell *matHeaderCellDef> Nom Famille De Colonne </th>
                      <td mat-cell *matCellDef="let element"> {{element.nomcolonneFamily}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nomcolonne">
                        <th mat-header-cell *matHeaderCellDef> Nom De Colonne </th>
                        <td mat-cell *matCellDef="let element"> 
                        <mat-list>
                          <ng-container *ngFor="let c of element.colonnes" > 
                              <mat-list-item>{{c.nomcolonne}}</mat-list-item>

                        </ng-container>  
                      </mat-list>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="HbaseDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: HbaseDisplayedColumns;"></tr>
    
              </table>

        

                </mat-tab>
                 
        
      </ng-container>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>



<ngx-smart-modal #itemModal1 identifier="modalsource">
  <form method="get" class="form-horizontal" role="form" #ff="ngForm" (ngSubmit)="onConnectSource(ff)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Paramétres de Connection</h4>
    </div>

    <div class="modal-body">

      <mat-form-field>
        <input matInput placeholder="ip" name="ip" ngModel required #ip="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="port" name="port" ngModel required #port="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom Base De Donnée" name="nomBD" ngModel required #nomBD="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Utilisateur" name="user" ngModel required #user="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mot De passe" name="password" ngModel required #password="ngModel">
      </mat-form-field>

    </div>

    <div class="modal-footer">
      <button mat-button type="button" class="button" (click)="closeModal('modalsource')">Annuler</button>
      <button mat-button class="button" type="submit" class="button" >Connecter</button>
      <p id="alert" style="color: #ff0000;">{{alert}}</p>
      <p id="alert2" style="color: 	#228B22;">{{alert2}}</p>

    </div>

  </form>
</ngx-smart-modal>



<ngx-smart-modal #itemModal2 identifier="modalcible">
  <form method="get" class="form-horizontal" role="form" #f="ngForm" (ngSubmit)="onConnectCible(f)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Paramétres de connection</h4>
    </div>

    <div class="modal-body">
      <mat-form-field>
        <input matInput placeholder="Master" name="master" ngModel required #master="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zookeeper quorum" name="quorum" ngModel required #quorum="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zookeeper Client Port" name="port" ngModel required #port="ngModel">
      </mat-form-field>

    </div>

    <div class="modal-footer">
      <button mat-button type="button" class="button" (click)="closeModal('modalcible')">Annuler</button>
      <button mat-button class="button" type="submit">Connecter</button>

      <p id="alert3" style="color: #ff0000;">{{alert3}}</p>
      <p id="alert4" style="color: 	#228B22;">{{alert4}}</p>

    </div>

  </form>
</ngx-smart-modal>
<app-footer class="footer"></app-footer>
