.admin-panel {
  margin: 8% 10%;
}

.header-icon {
  font-size: 50px;
}

#gauche{
  position:relative;
  width:60%;
}
#droite
{
    position:relative;
    left: 60%,
}

.button
{
  color: #575454
}
.example-card
{
  font-weight: bold;
  color: #d83431

}

.conf-button{
  margin-left: 1200px;
}


