ul {
    list-style-type: none;
  }
  
  .status {
      color: green;
      font-weight: 800;
  }
  
  .ng-invalid.status {
    color: #d83431;
}
.margins{
    margin-top: 100px
}
.panel-heading{
    background-color: #d83431;
    color: #fff;
    
}
#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  #tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  #tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  #tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .sub{
    
        background-color: #d83431; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 15px;
      
  }