<mat-toolbar class="header">
  <div class="toolbar-content">
   

      <div class="toolbar-content-left">
          <div>
            <div>
                <img  class="logo" src="assets/vermeg.png">
    
            </div>
          </div>
    </div>


    <div>
        <div>
            <img  class="logo1" src="assets/photo.jpg">

        </div>
      </div>
 

   
      <div >
          <div>  
            <img  style="margin-top:40px;margin-left:280%;width:1em; height:1em;"  src="assets/settings1.png">
             <a class="header-item">  Configure</a>
          </div>
      </div>


  
    <div class="toolbar-content-right">
      <div>
        <a class="header-item" (click)="logout()" >Déconnection</a>
      </div>

    </div>
  </div>

</mat-toolbar>