*{
    cursor: pointer;
}
.click{
    color: #000;
    margin-left: 16px;

}
.mat-form-field-wrapper{
    width: 436px !important;
}
a:link
{
  text-decoration:none !important;
}
.panel-heading{
    background-color: #000 !important;
    color: #fff !important;
}
.mat-form-field {
    margin: 0 3rem;
    padding: 10px 0 0;
}

.status {
    color: green;
    font-weight: 800;
}

.ng-invalid.status {
    
        color: red;
    
}

.delete-button{
    margin-left: 100px
}

.tran{
    color: #d83431;
    text-decoration: underline  #d83431;
}
.fa-eye{
    color: #d83431;
}
.number{
    color: black;
}

#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  #tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  #tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  #tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .mat-select{
      width: 97% !important;
  }
  ul {
    list-style-type: none;
}