<form [formGroup]="transformationForm">

  <a (click)="hide(index)">
    <i class="fa fa-eye"></i>&nbsp;&nbsp; <b class="tran">Transformation Number:&nbsp;</b> &nbsp;&nbsp; <b><i
        class="number">{{index}}</i></b>
  </a>
  <br><br>

  <div id="{{index}}"  >
    <!--**************************************start betbet (click)="addRichKey()"******************************************************-->
    <div class="global">
      
    <!--  <div class="inhedden">
          <mat-form-field >
              <input matInput  [value]="index"  formControlName="id" >
              </mat-form-field>
      </div>-->
      <div class="col-md-12" style="display: inline-block;border-style: solid;">
        <div class="row">
          <button class="btn btn-danger" id="tooltip" (click)="delete()" style="float: right;margin: 5px;">
            <span class="tooltiptext">Delete Transformation</span>
            <i class="fa fa-trash"></i>
          </button>

          <button class="btn btn-info" id="tooltip" (click)="addRichKey()" style="float: right;margin: 5px;">
            <span class="tooltiptext">Add RichKeyMap</span>
            <i class="fa fa-plus"></i>
          </button>

        </div>

        <div class="col-md-6">
          <mat-form-field style="display: inline-block;">
            <mat-label>Select Source Table</mat-label>
            <mat-select (selectionChange)="getSourceColumns()" formControlName="tablesource">
              <ng-container *ngFor="let s of tablessources$">
                <mat-option value="{{s.nomTable}}">{{s.nomTable}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="display: inline-block;">
            <mat-label>Select Target Table</mat-label>
            <mat-select (selectionChange)="getCibleColumns()" formControlName="tablecible">
              <ng-container *ngFor="let s of tablescibles$">
                <mat-option value="{{s.nomTable}}">{{s.nomTable}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Select Hbase Id</mat-label>
            <mat-select formControlName="idLigne">
              <ng-container *ngFor="let c of colonnessource$">
                <mat-option value="#{{c.nomcolonne}}">{{c.nomcolonne}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Select Hbase Id Type</mat-label>
            <mat-select formControlName="typeidLigne">
              <mat-option value="java.lang.Long">Long</mat-option>
              <mat-option value="java.lang.String">String</mat-option>
              <mat-option value="java.lang.Float">Float</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div  class="col-md-12">
          <ul>
            <li  *ngFor="let richkey of richkeys?.controls; let j = index">

              <form  [formGroup]="richkey">
                <!--**********************Start sous Betbet**********************************-->
                <br><br>
                 <div class="row" style="display: inline-block;border-style: solid;border-color: #c5cbd0">
                    <button class="btn btn-danger" id="tooltip" (click)="deleterichkey(index,j)" style="float: right;margin: 5px;">
                        <span class="tooltiptext">Delete RichKey Map</span>
                        <i class="fa fa-trash"></i>
                      </button>

                      <a (click)="hiderichkey(index,j)">
                        <i class="fa fa-eye"></i>&nbsp;&nbsp; <b class="tran">RichKey Map Number:&nbsp;</b> &nbsp;&nbsp; <b><i
                            class="number">{{j}}</i></b>
                      </a>
               <div id="richkey{{index}}{{j}}">

                  <div class="row">
                    <div class="col-md-8">
                    <mat-form-field>
                      <mat-select  placeholder="Select Source Columns"    formControlName="colonnes"   multiple>        
                        <mat-option *ngFor="let c of colonnessource$" [value]="c.nomcolonne">{{c.nomcolonne}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4"></div>
                   </div>
                
                   <!--<mat-select (change)="getSelectedMultiple($event)" multiple>
                     <mat-option *ngFor="let c of colonnessource$" [value]="c.nomcolonne">{{c.nomcolonne}}</mat-option>
                   </mat-select>
                
                   <select>
                    <option *ngFor="let x of multipleSelected">{{x}}</option>
                  </select>-->
                  <br><br>
                 <div class="col-md-12"> 
                   <b (click)="hidepanel('panelmappage',index,j)">
                    <i> 
                    <b class="click">Use The Panel To Write Your Mapping Formula:&nbsp; 
                      <img src="../../../assets/tap.png">
                    </b>
                  </i> 
                </b>
                  </div>

                  <div id="panelmappage{{index}}{{j}}" style="display: none;" class="container-fluid">
                    <br><br><br>
                  <div class="panel panel-default">
                    <div class="panel-heading">Tools Panel</div>
                    <div class="panel-body">
                  <div class="col-md-3">
                      <mat-form-field>

                      <mat-label>Add Opperator</mat-label>
                      <mat-select >
                        <mat-option value="+" (click)="getChangeOpperator('+',index,j)"  >+</mat-option>
                        <mat-option value="-" (click)="getChangeOpperator('-',index,j)" >-</mat-option>
                        <mat-option value="*" (click)="getChangeOpperator('*',index,j)" >*</mat-option>
                        <mat-option value="*" (click)="getChangeOpperator('*',index,j)" >/</mat-option>

                      </mat-select>
                      </mat-form-field>
                  </div>
                
                  
                   
              
                  <div class="col-md-3">
                    <mat-form-field>
 
                    <mat-label>Use Function </mat-label>
                      <mat-select >

                        <mat-option (click)="getChangeFunction('#getAge()',index,j)" value="getAge" >getAge()</mat-option>
                      </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-3">
                      <mat-form-field>

                      <mat-label>Use Web Service</mat-label>
                      <mat-select >
                        <mat-option (click)="getVg('#currency',index,j)" value="taux">currency</mat-option>
                      </mat-select>
                      </mat-form-field>
                  </div>
                  <br><br><br><br>
                    <div class="col-md-12">
                        <p-table [columns]="cols" [value]="colonnessource$" [resizableColumns]="true" [paginator]="true"  [rows]="1">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pResizableColumn>
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr *ngFor="let col of columns">
                                    <td  class="ui-resizable-column">
                                        <p pDraggable="cars" (onDragStart)="dragStart($event,rowData[col.field])" (onDragEnd)="dragEnd($event)">
                                        {{rowData[col.field]}}
                                        </p>
                                    </td>
                                </tr>
                                </ng-template>
                        </p-table>

                  </div>
                 <!-- <span><b><i>Vous-pouvez séléctionner les colones sources (drag & drop)</i></b></span>-->
  </div>
              </div>
              </div >
              <div class="row">
                  <div class="col-md-8">
                      <mat-form-field  >
                          <div class="ui-g-12 ui-md-6 drop-column" pDroppable="cars" 
                          (onDrop)="drop($event,index,j)"  [ngClass]="{'ui-highlight-car':draggedCar}">
                      <input matInput id="name{{index}}{{j}}"  placeholder="Write Your Mapping Formula"
                      formControlName="mappingformula" >
                        </div>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4"></div>
                </div>
               
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field >
                      <input matInput  placeholder="Write Select Condition" formControlName="condition">
                      </mat-form-field>
                    </div>

                  <div class="col-md-4"></div>
                  </div>
              <br><br><br>


              <div   class="container-fluid">

              <div class="panel panel-info">

              <div class="panel-heading">Choisir la colonne de Famille cible par un (drag & drop)</div>
              <div class="panel-body">
                  <div class="col-md-12">
                      <p-table [columns]="colscible" [value]="colonnescibles$" [resizableColumns]="true" [paginator]="true"  [rows]="1">
                          <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th *ngFor="let col of columns" pResizableColumn>
                                      {{col.header}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr *ngFor="let col of columns">
                                  <td  class="ui-resizable-column">
                                      <p pDraggable="carscibles" (onDragStart)="dragCibleStart($event,rowData[col.field])" (onDragEnd)="dragCibleEnd($event)">
                                      {{rowData[col.field]}}
                                      </p>
                                  </td>
                              </tr>
                              </ng-template>
                      </p-table>

                </div>
                </div>
                </div>
                </div>
              <div>
                    <div class="row">
                   <div class="col-md-6">
                      <mat-form-field>
                          <div class="drop-column" pDroppable="carscibles" 
                          (onDrop)="dropcible($event,index,j)"  [ngClass]="{'ui-highlight-car':cibledragged}">
                          <input matInput id="cible{{index}}{{j}}"  placeholder="Target Family Column Name : Target Column Name"
                      formControlName="colonnecible" >
                        </div>
                      </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field>
                      <mat-label>Select Target Column Type</mat-label>
                      <mat-select formControlName="typecolonnecible">
                        <mat-option value="java.lang.Double">Double</mat-option>
                        <mat-option value="java.lang.Long">Long</mat-option>
                        <mat-option value="java.lang.String">Varchar</mat-option>
                        <mat-option value="java.lang.Float">Float</mat-option>
                        <mat-option value="java.lang.Integer">Integer</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-1"></div>
                </div>

                  <br><br>


                  <br>
                 <!-- <mat-radio-group   aria-label="Utiliser un convertisseur">
                      <mat-radio-button (click)="show('convertisseur',index,j)" value="oui">oui</mat-radio-button>
                      <mat-radio-button  (click)="hideconvertisseur('convertisseur',index,j)" value="non">non</mat-radio-button>
                    </mat-radio-group>-->
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-5">
                        <b><i>Use Converter : </i></b>&nbsp;&nbsp;&nbsp;<br><br>
                        <p-inputSwitch  (click)="useConvert(index,j)"></p-inputSwitch>
                    </div>
                    <div class="col-md-6"></div>
                  </div>

                <div style="display: none" id="convertisseur{{index}}{{j}}" >
                  <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Converter</mat-label>
                      <mat-select formControlName="converter" >
                        <mat-option  value="convertDateTime">convertDateTime</mat-option>
                        <mat-option  value="NumberConverter">NumberConverter</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-md-5">
                      <mat-form-field>
                      <input matInput placeholder="Pattern"
                      formControlName="pattern" >
                      </mat-form-field>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                </div>
                <br>
                <br>
               </div>
                 </div>
                 </div>
                 <br>
                 <br>
              </form>    
            </li>
          </ul>
        </div>
          





      </div>

    </div>
   
  </div>

</form>
<mat-divider></mat-divider>
<br><br>


<!--<ngx-smart-modal #FunctionModal identifier="FunctionModal">
  <form [formGroup]="FunctionForm">

    <mat-radio-group formControlName="FunctionOnColumn">
      <ng-container *ngFor="let c of colonnessource$">
        <mat-radio-button value="#{{c.nomcolonne}}">{{c.nomcolonne}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>

  </form>


  <button mat-button type="button" class="button" (click)="closeModal('FunctionModal')">Annuler</button>
</ngx-smart-modal>-->
