
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top: 169px;">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center"><img src="../../../assets/vermeg.png"></h5>
                  <hr>
                  <form class="form-signin" [formGroup]="signInForm"  (ngSubmit)="onCreateSubmit()">
                    <div class="form-label-group">
                      <input type="email" class="form-control" formControlName="nom" placeholder="Nom" required autofocus>
                      <label for="inputEmail">Nom Complet</label>
                    </div>
                    <mat-error *ngIf="signInForm.get('nom').invalid && signInForm.get('nom').touched">
                      Le champs nom ne doit pas être vide  
                      </mat-error>
                      
                   


                        <div class="form-label-group">
                            <input type="text" class="form-control" formControlName="identifiant" placeholder="Identifiant" required autofocus>
                            <label for="inputEmail">Identifiant Unique</label>
                          </div>
                          <mat-error *ngIf="signInForm.get('identifiant').invalid && signInForm.get('identifiant').touched">
                            Email non valide 
                            </mat-error>


                        <div class="form-label-group">
                          <input type="email" class="form-control" formControlName="email" placeholder="Email" required autofocus>
                          <label for="inputEmail">Email</label>
                        </div>
                        <mat-error *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched">
                          Le champs Email est non valide  
                          </mat-error>
                      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" formControlName="password" class="form-control"  placeholder="Password" required>
                      <label for="inputPassword">Mot de passe</label>
                      <mat-error *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">
                            Mot de passe avec  au moins 6 charactères
                          </mat-error>
                    </div>
                    <button  class="btn btn-md btn-block text-uppercase" id="login" type="submit">S'inscrire</button>
                   <br><br><br>
                    <div *ngIf="submitted && isSignUpFailed" class="alert alert-warning">
                        Signup failed!<br/>{{errorMessage}}</div>
                  
                        <a [routerLink]="['']" >Connexion</a>
                    </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
      
<!--<div class="all">
<div class="login-form">

  <mat-card class="example-card">
    <mat-card-content class="login-form-content">

      <h1>Inscription</h1>
 <form class="m-t" [formGroup]="signInForm"  (ngSubmit)="onCreateSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="nom" placeholder="Nom">
      <mat-error *ngIf="signInForm.get('nom').invalid && signInForm.get('nom').touched">
        Le champs nom ne doit pas être vide  
        </mat-error>
    </mat-form-field>
     <mat-form-field class="example-full-width">
 
      <input matInput formControlName="prenom" placeholder="Prenom">
      <mat-error *ngIf="signInForm.get('prenom').invalid && signInForm.get('prenom').touched">
      Le champs prenom ne doit pas être vide  
      </mat-error>
    </mat-form-field>
<mat-form-field class="example-full-width">

  <input matInput formControlName="email" placeholder="Email">
  <mat-error *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched">
    Adresse mail non valide
  </mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">

  <input matInput formControlName="password" showHideInput placeholder="Password">
  <mat-error *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">
    Mot de passe doit être au moins 6 charactères
  </mat-error>

</mat-form-field>
   
    <button mat-button color="primary">S'inscrire</button>
  </form>


 </mat-card-content>
 </mat-card>

</div>
</div>-->