<div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>
        <a href="https://www.vermeg.com/">About</a>  
        </li>
      
      </ul>
    </div>
  
    <div class="col social">
      <h1>Social</h1>
      <ul>  
        <li><a href="https://www.facebook.com/empoweredbyvermeg/"><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"> </a></li>
        <li><a href="https://www.linkedin.com/showcase/empowered-by-vermeg/"><img src="./../../../assets/linkedin.png" width="32" style="width: 32px;"> </a></li>

      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->