<div class="login-form">

  <mat-card class="example-card">
    <mat-card-content class="login-form-content">

      <h1>Inscription</h1>
 <form class="m-t" [formGroup]="signInForm"  (ngSubmit)="onCreateSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="nom" placeholder="Nom">
      <mat-error *ngIf="signInForm.get('nom').invalid && signInForm.get('nom').touched">
        Le champs nom ne doit pas être vide  
        </mat-error>
    </mat-form-field>
     <mat-form-field class="example-full-width">
 
      <input matInput formControlName="prenom" placeholder="Prenom">
      <mat-error *ngIf="signInForm.get('prenom').invalid && signInForm.get('prenom').touched">
      Le champs prenom ne doit pas être vide  
      </mat-error>
    </mat-form-field>
<mat-form-field class="example-full-width">

  <input matInput formControlName="email" placeholder="Email">
  <mat-error *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched">
    Adresse mail non valide
  </mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">

  <input matInput formControlName="password" showHideInput placeholder="Password">
  <mat-error *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">
    Mot de passe doit être au moins 6 charactères
  </mat-error>

</mat-form-field>
   
    <button mat-button color="primary">S'inscrire</button>
  </form>


 </mat-card-content>
 </mat-card>

</div>